body {
  font-family: Arial;
  background: #f3f3f3;
  display: flex;
  justify-content:center;
  padding: 40px;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
